body {
	background: url(../img/bg.gif) repeat top center;
	font-family: Arial;
}

.start {
	margin-top: 200px;
}

a {
	color: #008795;
	text-decoration: none;
	outline: none;
}

a:link {
	outline: none;
}